.calendar {
  width: 100%;
}

/* CREATE EVENT FORM */
#popupCreateEventForm {
  position: fixed;
  top: 0; left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}

#popupCreateEventForm.open {
  visibility: visible;
  opacity: 1;
}

/* CLOSE BUTTON */
#popCloseCreateForm {
  position: absolute;
  top: 0; right: 5px;
  padding: 5px;
  color: #fa6b6b;
  font-size: 32px;
  cursor: pointer;
}

#popboxCreateEventForm {
  position: relative;
  max-width: 30vw;
  background: #fff;
  margin: 50vh auto 0 auto;
  transform: translateY(-50%);
  font-family: Helvetica;
  box-sizing: border-box;
  width: 100%;
  border: solid antiquewhite 10px;
  padding: 5px;
}

/* EDIT EVENT FORM */
#popupEditEventForm {
  position: fixed;
  top: 0; left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}

#popupEditEventForm.open {
  visibility: visible;
  opacity: 1;
}

/* CLOSE BUTTON */
#popCloseEditForm {
  position: absolute;
  top: 0; right: 5px;
  padding: 5px;
  color: #fa6b6b;
  font-size: 32px;
  cursor: pointer;
}

#popboxEditEventForm {
  position: relative;
  max-width: 30vw;
  background: #fff;
  margin: 50vh auto 0 auto;
  transform: translateY(-50%);
  font-family: Helvetica;
  box-sizing: border-box;
  width: 100%;
  border: solid antiquewhite 10px;
  padding: 5px;
}

.formHeader{
  font-size: 30px;
}
.formSubheader{
  font-size: 12px;
}
button:hover{
  color: rgb(10, 161, 207);
}

#title, #editTitle{
  width: 100%;
}

#description, #editDescription{
  width: 100%;
}

[id*="escription"] {
  resize: none;
}