:root {
    --sb-width: 15rem;
    --sb-collapsed-width: 4rem;
}

main {
    margin-left: var(--sb-width);
    transition: 0.1s;
}

.sidebar {
    width: var(--sb-width);
    background-color: #EBEBEB;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    white-space: nowrap;
    transition: 0.1s;
}

.sidebar a {
    display: flex;
    justify-content: space-between;
    /*align-items: baseline;*/
    text-decoration: none;
    color: black;
}

.sidebar a:hover {
    background-color: lightgrey;
}

.sidebar span {
    padding: 1rem;
}

.sidebar i {
    display: block;
    width: 2rem;
    color: black;
    opacity: 60%;
    padding: 1rem;
}

.menubutton i {
    opacity: 100%;
}

.settingsbutton {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sidebar .curr {
    background-color: #F3F3F3;
}

.textbox {
    padding: 0.25em;
    flex-basis: 100%;
    margin: 0px;
}
  
.bullet {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    list-style: none;
    margin-bottom: 0.2em;
}
  
.bullettime {
    margin-right: 0.2em;
    padding: 0.25em;
    border: none;
    font-size: 1em;
}
  
.fas {
    font-size: 0.5em;
    margin-right: 0.5em;
}
  
.fas:hover {
    cursor: pointer;
}
  