:root {
  --sb-width: 15rem;
  --sb-collapsed-width: 4rem;
  --text-color: 0,0,0;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

main {
  margin-left: var(--sb-width);
  transition: 0.1s;
}

.sidebar {
  width: var(--sb-width);
  background-color: #ebebeb;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  white-space: nowrap;
  transition: 0.1s;
}

.sidebar a {
  display: flex;
  justify-content: space-between;
  /*align-items: baseline;*/
  text-decoration: none;
  color: black;
}

.sidebar a:hover {
  background-color: lightgrey;
}

.sidebar span {
  margin: 1rem;
}

.sidebar i {
  display: block;
  width: 2rem;
  /* color: black; */
  /* opacity: 60%; */
  margin: 1rem;
}

.menubutton i {
  opacity: 100%;
}

.settingsbutton {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sidebar .curr {
  background-color: #f3f3f3;
}

/* LIGHT */
body.light {
  background-color: white;
  color: black;
  --text-color: 0,0,0;
}

.sidebar.light {
  background-color: #ebebeb;
}

.sidebar.light a:hover {
  background-color: lightgrey;
}

.sidebar.light .curr {
  background-color: #f3f3f3;
}

.sidebar.light a {
  color: black;
}

/* DARK */
body.dark {
  background-color: rgb(40, 40, 40);
  color: rgb(220, 220, 220);
  --text-color: 220,220,220;
}

.sidebar.dark {
  background-color: rgb(30, 30, 30);
}

.sidebar.dark a:hover {
  background-color: rgb(60, 60, 60);
}

.sidebar.dark .curr {
  background-color: rgb(35, 35, 35);
}

.sidebar.dark a {
  color: rgb(220,220,220);
}

/* BARCELONA */
body.barcelona {
  background-color: #FDFFF7;
  color: #27282D;
  --text-color: 39, 40, 45;
}

.sidebar.barcelona {
  background-color: #474D4B;
}

.sidebar.barcelona a:hover {
  background-color: #F54296;
}

.sidebar.barcelona .curr {
  background-color: #27282D;
}

.sidebar.barcelona a {
  color: #E0F635;
}

/* BLUE HUMANS */
body.blueHumans {
  background-color: #F8E4CC;
  color: #294052;
  --text-color: 41, 64, 82;
}

.sidebar.blueHumans {
  background-color: #447294;
}

.sidebar.blueHumans a:hover {
  background-color: #8FBCDB;
}

.sidebar.blueHumans .curr {
  background-color: #294052;
}

.sidebar.blueHumans a {
  color: #F4D6BC;
}

/* BEACH */
body.beach {
  background-color: #EECCAA;
  color: #886655;
  --text-color: 136, 102, 85;
}

.sidebar.beach {
  background-color: #DD9977;
}

.sidebar.beach a:hover {
  background-color: #CC99CC;

}

.sidebar.beach .curr {
  background-color: #886655;
}

.sidebar.beach a {
  color: #EEEEEE;
}

/* RAPTORIZE */
body.raptorize {
  background-color: #C1BF95;
  color: #070A1E;
  --text-color: 7, 10, 30;
}

.sidebar.raptorize {
  background-color: #58423F;
  
}

.sidebar.raptorize a:hover {
  background-color: #382230;
}

.sidebar.raptorize .curr {
  background-color: #888069;
}

.sidebar.raptorize a {
  color: #C1BF95;
}

/* CTHULU RISES */
body.cthuluRises {
  background-color: #aabbaa;
  color: #553333;
  --text-color: 85, 51, 51;
}

.sidebar.cthuluRises {
  background-color: #99aaaa;
}

.sidebar.cthuluRises a:hover {
  background-color: #998866;
}

.sidebar.cthuluRises .curr {
  background-color: #cccc99;
}

.sidebar.cthuluRises a {
  color: #553333;
}

/* BORING VOLCANO */
body.boringVolcano {
  background-color: #bbcccc;
  color: #223333;
  --text-color: 34, 51, 51;
}

.sidebar.boringVolcano {
  background-color: #889999;
}

.sidebar.boringVolcano a:hover {
  background-color: #dd9988;
}

.sidebar.boringVolcano .curr {
  background-color: #ddeedd;
}

.sidebar.boringVolcano a {
  color: #223333;
}

/* HACKERS */
body.hackers {
  background-color: #000000;
  color: #05a300;
  --text-color: 5, 163, 0;
}

.sidebar.hackers {
  background-color: #828282;
}

.sidebar.hackers a:hover {
  background-color: #FF6600;
}

.sidebar.hackers .curr {
  background-color: #F6F6EF;
}

.sidebar.hackers a {
  color: #000000;
}

/* CITY BY NIGHT */
body.cityByNight {
  background-color: #ffdd99;
  color: #332244;
  --text-color: 51, 34, 68;
}

.sidebar.cityByNight {
  background-color: #5566aa;
}

.sidebar.cityByNight a:hover {
  background-color: #aa7799;
}

.sidebar.cityByNight .curr {
  background-color: #dd9999;
}

.sidebar.cityByNight a {
  color: #332244;
}